@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400;1,500;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #5372f0;
}

ul li{
  list-style: none;
}

.wrapper{
  width: 605px;
  background-color: #fff;
  border-radius: 15px;
  padding: 30px 30px 25px;
}

.wrapper header{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.wrapper .content{
  margin: 35px 0;
}

.content .quote-area{
  display: flex;
  justify-content: center;
}

.quote-area i{
  font-size: 15px;
}

.quote-area i:first-child{
  margin: 3px 10px 0 0;
}

.quote-area i:last-child{
  display: flex;
  align-items: flex-end;
  margin: 0 0 3px 10px;
}

.quote-area .quote{
  font-size: 22px;
  width: 524px;
  text-align: center;
  word-break: break-all;
}

.content .author{
  display: flex;
  font-size: 18px;
  font-style: italic;
  justify-content: flex-end;
  margin-top: 20px;
}

.author span:first-child{
  margin: -7px 5px 0 0;
  font-family: monospace;
}

.wrapper .buttons{
  border-top: 1px solid #ccc;
}

.buttons .features{
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.features ul{
  display: flex;
}

.features ul li{
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #5372f0;
  color: #5372f0;
  transition: all 0.3s ease;
}

.features ul li:hover{
  background-color: #5372f0;
  color: #fff;
}

.features button{
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-style: 16px;
  background: #5372f0;
  padding: 13px 22px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

button.loading{
  opacity: 0.7;
  pointer-events: none;
}